<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link')  %>

<div class="section edit">
  <h2>Update Section</h2>

  <%= form_for(:section, :url => {:action => 'update', :id => @section.id}) do |f| %>
    <table summary="Subejct form fields">
      <tr>
        <th>Page</th>
        <th><%= f.select :page_id, @pages.collect {|e| [ e.name, e.id ] } %></th>
      </tr>
      <tr>
        <th>Name</th>
        <th><%= f.text_field(:name) %></th>
      </tr>
      <tr>
        <th>Position</th>
        <th><%= f.text_field(:position) %></th>
      </tr>
      <tr>
        <th>Visible</th>
        <th><%= f.text_field(:visible) %></th>
      </tr>
      <tr>
        <th>Content Type</th>
        <th><%= f.text_field(:content_type) %></th>
      </tr>
      <tr>
        <th>Content</th>
        <th><%= f.text_area(:content, size: "30x4") %></th>
      </tr>
    </table>

    <div class="form-buttons">
      <%= submit_tag("Update Subject") %>
    </div>

  <% end %>
</div>
