<%= link_to("<< Back to List", {:action => 'index'} , :class => 'back-link') %>

<div class="pages show">
  <h2>Show page</h2>

  <table class="table table-striped table-bordered datatables" summary="Page detail view">
    <tr>
      <th>Name</th>
      <th><%= @page.name %></th>
    </tr>
    <tr>
      <th>Permalink</th>
      <th><%= @page.permalink %></th>
    </tr>
    <tr>
      <th>Position</th>
      <th><%= @page.position %></th>
    </tr>
    <tr>
      <th>Visible?</th>
      <th><%= @page.visible ? 'true' : 'false' %></th>
    </tr>
    <tr>
      <th>Created</th>
      <th><%= @page.created_at %></th>
    </tr>
    <tr>
      <th>Updated</th>
      <th><%= @page.updated_at %></th>
    </tr>
  </table>
</div>
